@import url("https://fonts.googleapis.com/css?family=Bellefair");

body {
  margin: 0;
  padding: 0;
  font-family: 'Bellefair', serif;
  background-color: #f6f6f6;
}

.Form{
  text-align: center;
  margin-top: 4rem;
}
