@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed'");

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f6f6f6;
  color: Grey;
}

.Form{
  text-align: center;
  margin-top: 4rem;
}
